.no-horizontal-padding {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.truncate-html {
  max-width: 50px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
