@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate {
    animation: rotate 1s linear infinite;
  }
  .timeline-section::-webkit-scrollbar {
    width: 10px; 
  }
  
  .timeline-section::-webkit-scrollbar-thumb {
    background-color: #000; 
    border-radius: 6px;
  }
  
  .timeline-section::-webkit-scrollbar-track {
    background-color: lightseagreen; 
  }

  /* CSS to tabs */
.nav-tabs {
  padding-bottom: 28px;
  border-bottom: 1px solid;
}
  .nav-tabs .nav-item  {
    font-weight: bold;
  }
.nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px solid blue; 
}
.tab-content {
  margin-top: 20px;
}
.border-right {
  border-right: 2px solid #000; 
}



  
  